@import "../../styles/Constants.module.scss";

.heroBlockWrapper {
  width: 100%;
  max-width: 2000px;
  position: relative;
  margin: 0 auto;

  .heroBlock {
    width: 100%;
    height: 760px;
    display: flex;
    justify-content: center;

    @media (max-width: $breakpoint-mobile) {
      height: 660px;
    }

    h1 {
      margin: 0;
      font-family: "Roboto", sans-serif;
      font-size: 80px;
      line-height: 90%;
      font-weight: 900;
      text-shadow: 0 0 8px rgba(12, 13, 13, 0.25);
      margin: 300px 0 0 0;
      color: white;

      @media (max-width: $breakpoint-laptop) {
        font-size: 68px;
      }

      @media (max-width: $breakpoint-tablet) {
        font-size: 48px;
      }

      @media (max-width: $breakpoint-mobile) {
        font-size: 42px;
        margin: 260px 0 0 0;
      }
    }
  }

  &::after {
    content: "";
    width: 100%;
    height: 220px;
    background: linear-gradient(0deg,
        rgba(12, 13, 13, 1) 0%,
        rgba(12, 13, 13, 0) 100%);
    bottom: -1px;
    left: 0;
    position: absolute;
  }
}

.video {
  width: 100%;
  height: 100%;
  max-height: 760px;
  position: absolute;
  top: 0;
  object-fit: cover;
  z-index: -1;
}